/* customize vuetify globally */

.v-dialog {
  width: auto !important;
}
.error--text {
  color: red !important;
}
.v-application p {
  margin-bottom: 0 !important;
}

.v-application ul,
.v-application ol {
  padding-left: 0 !important;
}
