.menu-indicator {
  position: absolute;
  top: 3px;
  left: calc(100% + 3px);
  &-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent var(--black-light) var(--black-light) transparent;
    transform: rotate(45deg);
  }
}

.submenu-indicator {
  position: absolute;
  top: 8px;
  left: calc(100% + 2px);
  margin-left: 5px;
  &-chevron {
    height: 6px;
    width: 6px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #39466d #39466d transparent;
    transform: rotate(-45deg);
  }
}
